#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  border: .5px solid #fb7185;
;
}

.lean-effect:hover img {
  transform: rotate(10deg);
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(255, 255, 100, 0.6);
}